.nav{
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    z-index: 2;
    justify-content: space-around;
    align-items: center;
    padding: 10px 40px;
    .logo{
        display: flex;
        align-items: center;
        cursor: pointer;
        h3{
            color: white;
            font-size: 35px;
        }
        h2{
            color: #C8F560;
            font-size: 35px;
        }
    }
    .items{
        display: flex;
        align-items: center;
        a{
            color: white;
            margin-right: 40px;
            font-size: 35x;
            cursor: pointer;
            font-weight: 600;
        }
        a:hover{
            color: #C8F560;
            transition: 0.3s;
        }
    }
    .avatar{
        display: flex;
        align-items: center;
        button{
            border: none;
            border: 1px solid #C8F560;
            background-color: transparent;
            color: #C8F560;
            border-radius: 5px;
            height: fit-content;
            padding: 10px 20px;
            font-size: 18px;
            background-color: rgba(0, 0, 0, 0.582);
            cursor: pointer;
        }
        button:hover{
            transition: 0.3s;
            background-color: rgba(0, 0, 0, 0.664);
        }
    }
    
}