.container{
    .portada{
        width: 100%;
        height: auto;
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-blend-mode: darken;
        .imgInfo{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            margin-top: 80px;
            .disponible{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                h4{
                    color: #C8F560;
                    font-size: 15px;
                    margin-top: 10px;
                }
            }
            img{
                border-radius: 15px;
            }
            .info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                width: 60%;
                margin-left: 50px;
                h2{
                    font-size: 1.2rem;
                    font-weight: 800;
                    letter-spacing: 2px;
                }
                h4{
                    font-weight: 400;
                    font-size: 0.8rem;
                    overflow: auto;
                }
                h5{
                    font-weight: 400;
                    font-size: 0.8rem;
                }
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    list-style: none;
                    margin: 0px;
                    li{
                        color: #C8F560;
                        padding: 3px 10px;
                        border: 1px solid #C8F560;
                        font-size: 12px;
                        border-radius: 10px;
                        margin-right: 15px;
                        cursor: pointer;
                    }
                }
                .cast{
                    display: flex;
                    flex-direction: column;
                    width: auto;
                    h2{
                        font-size: 20px;
                        font-weight: 600;
                    }
                    .listActor{
                        display: flex;
                        flex-wrap: wrap;
                        overflow: auto;
                        height: 250px;
                        .actor{
                            margin-right: 20px;
                            cursor: pointer;
                            h4{
                                width: 100px;
                            }
                        }
                    }
                    
                }
            }
        }
        
    }
    .capitulos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 30px;
        background-color: black;
        .capitulo{
            img{
                border-radius: 10px;
                cursor: pointer;
            }
            h2{
                font-weight: 500;
                font-size: 20px;
            }
            h3{ 
                font-size: 17px;
                font-weight: 600;
                margin: 0px;
            }
            h4{ 
                margin: 0px;
                font-size: 11px;
                font-weight: 400;
            }
        }
    }
    .similares{
        background-color: black;
        padding: 30px;
        .listSimilares{
            padding: 30px;
            width: 100%;
            display: flex;
            overflow: auto;
            .similar{
                img{
                    border-radius: 10px;
                    cursor: pointer;
                }
                h3{
                    width: 150px;
                    font-size: 13px;
                    margin: 0px;
                }
                margin-right: 20px;
            }
        }
    }
    .temporadas{
        background-color: black;
        padding: 30px;
        .listTemporadas{
            padding: 30px 0px;
            height: auto;
            width: 100%;
            display: flex;
            overflow: auto;
            .temporada{
                img{
                    border-radius: 10px;
                    cursor: pointer;
                }
                h3{
                    width: 150px;
                    font-size: 17px;
                    margin: 0px;
                }
                h4{
                    font-size: 11px;
                    font-weight: 400;
                }
                margin-right: 20px;
            }
        }
    }
}

.listSimilares::-webkit-scrollbar {
    -webkit-appearance: none;
}

.listSimilares::-webkit-scrollbar:vertical {
    width:7px;
}

.listSimilares::-webkit-scrollbar-button:increment ,.body::-webkit-scrollbar-button {
    display: none;
} 

.listSimilares::-webkit-scrollbar:horizontal {
    height: 5px;
}

.listSimilares::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0);        
}

.listSimilares::-webkit-scrollbar-thumb {
    background-color: #C8F560;
    border-radius: 30px;
    border: 2px solid #C8F560;
}

.listSimilares::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.listTemporadas::-webkit-scrollbar {
    -webkit-appearance: none;
}

.listTemporadas::-webkit-scrollbar:vertical {
    width:7px;
}

.listTemporadas::-webkit-scrollbar-button:increment ,.body::-webkit-scrollbar-button {
    display: none;
} 

.listTemporadas::-webkit-scrollbar:horizontal {
    height: 5px;
}

.listTemporadas::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0);        
}

.listTemporadas::-webkit-scrollbar-thumb {
    background-color: #C8F560;
    border-radius: 30px;
    border: 2px solid #C8F560;
}

.listTemporadas::-webkit-scrollbar-track {
    border-radius: 10px;  
}

@media screen and (max-width: 1000px){
    .container{
        .portada{
            .imgInfo{
                .info{
                    width: 100%;
                    margin: 0px;
                    padding: 10px;
                }
            }
        }
    }
}