

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0B0B0B!important;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width:7px;
}

body::-webkit-scrollbar-button:increment ,.body::-webkit-scrollbar-button {
  display: none;
} 

body::-webkit-scrollbar:horizontal {
  height: 5px;
}

body::-webkit-scrollbar-track {
  background: rgba(255, 166, 0, 0);        
}

body::-webkit-scrollbar-thumb {
  background-color: #C8F560;
  border-radius: 30px;
  border: 2px solid #C8F560;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;  
}

* {
  box-sizing: border-box;
}
